{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="content">
   <div class="row">
        <div class="col-lg-4">
        {{ form_errors(form) }}
            {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.datedenaissance) }}
            {{ form_row(form.email) }}
            {{ form_row(form.button )}}
            {{ form_end(form) }}
        </div>
   </div>
</div>
{% endblock %}