{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="content">
    <div class="row">
        <div class="col-lg-12">
        
        <table class="table table-hover">
            {% for message in app.flashes('success') %}
                <div class="alert alert-primary">
                    {{ message }}
                </div>
            {% endfor %}
            <thead>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Age</th>
                <th>Numéro de téléphone</th>
                <th>Email</th>
                <th>View</th>
                
            </thead>
            <tbody>
            {% for personne in personnes %}
                <tr>
                    <td>{{ personne.nom }}</td>
                    <td>{{ personne.prenom }}</td>
                    <td>{{ personne.getAge}}</td>
                    <td>{{ personne.telephone }}</td>
                    <td>{{ personne.email }}</td>
                    <td>
                     <a href="{{ path('view_personne', {'id': personne.id})}}"><button class="btn btn-info">View</button></a>
                    <a href="{{ path('edit_personne', {'id': personne.id})}}"><button class="btn btn-warning">Edit</button></a>
                    <a href="{{ path('remove_personne', {'id': personne.id})}}"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <a href="{{ path('add_personne') }}"><button class="btn btn-succees">Crée une personne</button></a>
        </div>
    </div>
</div>

{% endblock %}
