{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="content">
   <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                <p>{{ personne.nom}} - {{ personne.prenom}}</p>
                <p>{{ personne.getAge}} {{ personne.email}} - {{ personne.telephone}}</p>
            </div>
        </div>
   </div>
</div>
{% endblock %}